@import url("bootstrap/css/bootstrap.min.css");
body {
  font-family: 'Lato', sans-serif;
  background-color: #eee; }

h1, h2, h3, h4 {
  font-family: 'Cabin', sans-serif; }

p.infotext, p.description, label {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.2em; }

p.excerpt, .full-description {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.2em; }

a {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.category-link a {
  font-size: 1.2em; }

a.profile-link {
  font-family: 'Cabin', sans-serif;
  color: #333; }

hr.black {
  border-top: 1px solid #ddd; }

.category-title {
  float: left;
  margin-right: 10px; }

.description {
  clear: both; }

.from-user {
  margin-top: 36px; }

.inner-wrapper {
  background-color: #fff; }

@media (min-width: 992px) {
  .col-md-4 {
    width: 30.333333%; } }
#wrapper {
  padding-left: 260px;
  transition: all 0.4s ease 0s; }

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s; }

#page-content-wrapper {
  width: 100%; }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  left: 50px; }

.inset {
  padding-left: 100px;
  padding-right: 35px; }

@media (max-width: 992px) {
  .from-user {
    float: left; }

  .placeholder-medium {
    height: 20px !important; }

  .abo {
    width: 100%;
    margin-bottom: 20px; } }
@media (max-width: 767px) {
  .inset {
    padding-left: 50px;
    padding-right: 28px; }

  #page-content-wrapper {
    clear: both; }

  #sidebar-wrapper {
    position: relative;
    display: block;
    overflow-y: visible;
    width: 100%;
    padding: 10px; }

  .sidebar-nav {
    text-align: center;
    position: relative;
    width: 100%;
    left: 0px; }

  #wrapper {
    padding-left: 0; }

  #wrapper.active {
    position: relative;
    left: 250px; }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s; } }
footer .navbar {
  margin-top: 70px;
  min-height: 70px;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
  background-color: #818181; }
  footer .navbar .container {
    margin-top: 10px; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  margin-bottom: -140px; }
  .wrapper:after {
    content: "";
    display: block; }

.wrapper:after, footer.navbar {
  height: 70px; }

.navbar {
  min-height: 70px;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
  background-color: #f14e57; }
  .navbar .container {
    margin-top: 10px; }
  .navbar #add_bookmark {
    font-size: 1.8em; }
  .navbar #notifications {
    font-size: 1.8em; }

.navbar-default .navbar-toggle {
  border-color: #fff;
  color: #fff; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; }
  .navbar-default .navbar-toggle:hover {
    background-color: #ca424b; }

.navbar-toggle {
  z-index: 1000; }

@media (max-width: 767px) {
  .glyphicon-search {
    display: none; }

  img#logo {
    display: none; }

  input[name=keywords] {
    width: 200px !important; }

  .from-user {
    float: left; } }
@media (max-width: 1090px) {
  img#logo {
    display: none; } }
.container.welcome {
  margin-top: 0px; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px; }

.navbar-form {
  padding-left: 0px; }

.right-inner-addon {
  position: relative; }

.right-inner-addon input {
  padding-right: 30px; }

.right-inner-addon span {
  color: #f14e57;
  position: absolute;
  right: 0px;
  font-size: 1.8em;
  padding: 10px 20px;
  pointer-events: none; }

#search {
  background-color: #fff;
  border: none;
  border-radius: 25px;
  margin-top: 2px;
  width: 400px;
  height: 45px; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

#logo {
  position: absolute;
  left: 50%;
  margin-left: -82px; }

.navbar-nav > li > a.dropdown-toggle {
  padding: 0px;
  margin-left: 20px; }

.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.2em; }

.edit {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  padding-top: 11px; }

#register {
  width: 100%;
  height: 50px;
  border-radius: 15px; }

#twitter {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  padding-top: 11px; }

#fill-oder {
  font-size: 1.2em;
  text-align: center; }

#login-jumbo {
  width: 100%;
  height: 50px;
  border-radius: 15px; }

.ghost {
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid #fff;
  color: #fff; }
  .ghost:hover {
    border-color: #f14e57;
    color: #f14e57; }

.ghost-subscribe {
  background-color: none;
  border: 3px solid #f14e57;
  color: #f14e57; }
  .ghost-subscribe:hover {
    border-color: #f14e57;
    color: #f14e57; }

.login-button {
  background-color: #fff;
  border-right: 3px solid rgba(255, 255, 255, 0.7);
  border-bottom: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  border-top: none;
  border-left: none;
  margin-top: 6px; }
  .login-button:hover {
    background-color: #fff;
    border-right: 3px solid rgba(255, 255, 255, 0.7);
    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    border-top: none;
    border-left: none; }

.btn-primary {
  background-color: #f14e57;
  border-right: 3px solid #ca424b;
  border-bottom: 3px solid #ca424b;
  border-radius: 5px;
  border-top: none;
  border-left: none; }
  .btn-primary:hover {
    background-color: #ca424b;
    border-right: 3px solid #ca424b;
    border-bottom: 3px solid #ca424b;
    border-radius: 5px;
    border-top: none;
    border-left: none; }

.twitter {
  background-color: #6ebad7;
  border-right: 3px solid #46a7cb;
  border-bottom: 3px solid #46a7cb;
  border-radius: 5px;
  border-top: none;
  border-left: none;
  color: #fff; }
  .twitter:hover {
    background-color: #46a7cb;
    border-right: 3px solid #46a7cb;
    border-bottom: 3px solid #46a7cb;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    color: #fff; }

.jumbotron {
  background-image: url("../../images/header.jpg");
  background-size: cover;
  height: 600px;
  color: #fff; }
  .jumbotron .form-horizontal .control-label {
    margin-top: 5px; }
  .jumbotron .form-control {
    height: 50px;
    border-radius: 15px; }
  .jumbotron h2.jumbo-form {
    margin-left: 80px;
    margin-top: 47px;
    margin-bottom: 27px; }
  .jumbotron .agb-info {
    font-size: 1.2em; }
    .jumbotron .agb-info a {
      text-decoration: underline;
      color: #fff; }

.form-control {
  height: 50px;
  border-radius: 15px;
  border-top: 3px solid #ddd;
  border-left: 3px solid #ddd;
  border-right: none;
  border-bottom: none;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.2em; }
  .form-control:focus {
    border-color: transparent;
    box-shadow: none; }

.form-control.register {
  border-top: none;
  border-left: none; }

.alert.alert-success {
  height: 80px;
  background-color: #f2dede;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border-color: #f2dede;
  padding-top: 28px; }
  .alert.alert-success .download {
    background-color: #f14e57;
    border-right: 3px solid #ca424b;
    border-bottom: 3px solid #ca424b;
    border-top: none;
    border-left: none;
    height: 50px;
    border-radius: 15px;
    color: #fff;
    width: 377px;
    margin-top: -14px;
    padding-top: 10px; }

.form-control::-webkit-input-placeholder {
  color: grey; }

.placeholder-small {
  height: 20px; }

.placeholder-medium {
  height: 40px; }

.placeholder-large {
  height: 60px; }

ul#category-list {
  list-style-type: none;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  border-right: 3px solid #dddddd;
  border-bottom: 3px solid #dddddd;
  padding-left: 0px;
  overflow: hidden; }
  ul#category-list li#add-category {
    background-color: #f14e57;
    text-align: center;
    padding-left: 0px;
    font-size: 1.2em; }
    ul#category-list li#add-category a {
      color: #fff; }
  ul#category-list .active {
    background-color: #f14e57; }
    ul#category-list .active a {
      color: #fff; }
  ul#category-list li {
    padding: 10px;
    padding-left: 20px; }
    ul#category-list li a {
      font-weight: 300;
      color: #333;
      font-family: Lato;
      text-decoration: none;
      font-size: 1.2em; }
  ul#category-list .ui-state-hover {
    background-color: #f14e57; }

.bookmark {
  transition: all 0.4s ease 0s;
  margin-right: 19px;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  border-right: 3px solid #dddddd;
  border-bottom: 3px solid #dddddd;
  position: relative; }
  .bookmark .panel.panel-default {
    min-height: 189px; }
  .bookmark .favicon {
    margin-right: 10px; }
  .bookmark hr {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px; }
  .bookmark footer {
    height: 60px; }
    .bookmark footer a {
      margin-top: 10px;
      margin-left: 15px; }
    .bookmark footer .category-link {
      float: left;
      margin-top: 12px; }

.friend-finder {
  border-right: 3px solid #dddddd;
  border-bottom: 3px solid #dddddd;
  margin-top: 20px;
  height: 170px;
  background-color: #fff;
  border-radius: 15px;
  padding-top: 10px;
  margin-right: 19px; }
  .friend-finder a {
    margin-bottom: 10px; }
  .friend-finder h4 {
    margin-bottom: 40px; }

#find-friends {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.2em;
  margin-left: 60px; }

#invite {
  width: 100%;
  margin-top: 11px; }

.hidden-user {
  display: none; }

.dropped {
  background-color: #a8cf4c; }

.bookmark-expand {
  margin-bottom: 10px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

a.toPage {
  color: #333; }
  a.toPage:hover {
    color: #818181;
    cursor: pointer; }

.ui-draggable-dragging {
  z-index: 5000;
  background-color: #fff;
  border-right: 3px solid #dddddd;
  border-bottom: 3px solid #dddddd;
  padding: 20px;
  border-radius: 15px; }

.overlay {
  visibility: hidden;
  position: absolute;
  right: 15px;
  top: 15px; }

.bookmark.open {
  border-right: 5px solid #818181;
  border-bottom: 5px solid #818181;
  transition: all 0.4s ease 0s;
  margin-right: -84px;
  margin-bottom: -500px;
  z-index: 5000;
  width: 40%; }

.tags {
  margin-bottom: 20px; }

.url-container {
  width: 100%;
  background-color: #dddddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  float: left; }

.panel-group {
  overflow: visible;
  margin-bottom: 0px; }
  .panel-group .panel {
    box-shadow: none;
    overflow: visible; }
  .panel-group .panel-default {
    overflow: visible;
    border: none;
    background-color: #fff; }
    .panel-group .panel-default .panel-heading {
      background-color: #fff; }
    .panel-group .panel-default .panel-collapse .panel-body {
      overflow: visible;
      border-top: none;
      padding-top: 0px; }
      .panel-group .panel-default .panel-collapse .panel-body hr {
        margin-left: -30px;
        margin-right: -30px; }

.hide {
  display: none; }

.recent-tags {
  display: block; }

p.tag {
  float: left;
  background-color: #dddddd;
  padding: 10px;
  border-radius: 15px;
  margin-right: 5px; }
  p.tag:hover {
    cursor: pointer; }

p.tag-no-filter {
  float: left;
  background-color: #dddddd;
  padding: 10px;
  border-radius: 15px;
  margin-right: 5px; }

p.tag-filter.active {
  background-color: #f14e57; }

p.tag-filter {
  float: left;
  background-color: #dddddd;
  padding: 10px;
  border-radius: 15px;
  margin-right: 5px; }
  p.tag-filter:hover {
    cursor: pointer; }

.person {
  margin-right: 19px;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  padding-top: 20px;
  border-right: 3px solid #dddddd;
  border-bottom: 3px solid #dddddd;
  position: relative; }
  .person .crop {
    float: left;
    margin-left: 20px;
    margin-right: 10px; }
  .person a {
    margin-bottom: 20px;
    margin-left: 80px; }

.person.left {
  margin-left: -15px; }

.testimonial {
  margin-top: 25px; }

.testimonial-name {
  margin-top: 20px;
  margin-left: 30px; }

.testimonial-age {
  margin-top: -10px;
  margin-left: 23px; }

.profile-link {
  margin-left: 0px !important; }

.to-category {
  color: #333; }
  .to-category:hover {
    color: #f14e57; }

.landingpage-row {
  margin-bottom: 40px; }

.crop {
  height: 50px;
  width: 50px;
  overflow: hidden; }
  .crop img {
    width: 100%;
    height: 100%; }

a {
  color: #f14e57; }
  a:hover {
    color: #818181;
    text-decoration: none; }
