.navbar{

	min-height: 70px;
	margin-bottom:0px;
	border:none;
	border-radius:0px;
	background-color:$primary-color;
	.container{
		margin-top:10px;
	}
	#add_bookmark{
		font-size: 1.8em;

	}
	#notifications{
		font-size: 1.8em;

	
	}
}

.container-fluid{
	margin-right: auto;
margin-left: auto;
padding-left: 50px;
padding-right: 50px;
padding-top: 10px;
}

.navbar-form {
	padding-left:0px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon span {
	color:$primary-color;
    position: absolute;
    right: 0px;
    font-size: 1.8em;
    padding:10px 20px;
    pointer-events: none;
}

#search{
	background-color:#fff;
	border:none;
	border-radius:25px;
	margin-top: 2px;
	width:400px;
	height:45px;
}


.navbar-default .navbar-nav>li>a{
		color:#fff;

	}
#logo{
	position:absolute;
	left:50%;
	margin-left: -82px;
}

.navbar-nav>li>a.dropdown-toggle{
	padding:0px;
	margin-left:20px;
}