
.recent-tags{

	display:block;
}
p.tag{
	float:left;

	background-color:$tag-color;
	padding:10px;
	border-radius: 15px;
	margin-right:5px;
	
	&:hover{
		cursor: pointer;
	}
	
}

p.tag-no-filter{
	float:left;

	background-color:$tag-color;
	padding:10px;
	border-radius: 15px;
	margin-right:5px;
}

p.tag-filter.active{
	background-color:$primary-color;
}

p.tag-filter{
	float:left;

	background-color:$tag-color;
	padding:10px;
	border-radius: 15px;
	margin-right:5px;
	&:hover{
		cursor: pointer;
	}
	
}