
.recent-tags{
	height:100px;
}
p.tag{
	float:left;

	background-color:$tag-color;
	padding:10px;
	border-radius: 15px;
	
	&over{
		cursor: pointer !important;
	}
	
}
p.tag.active{
	background-color:$primary-color;
}