$primary-color: #f14e57;
$primary-color-dark: #ca424b;
$secondary-color: #818181;
$twitter-color: #6ebad7;
$twitter-color-dark: #46a7cb;

$tag-color:#ddd;
$tag-active-color:#f14e57;

$drop-shadow-color: #ddd;

$font-weight-thin: 300;
$font-size-medium: 1.2em;